html, body {
    height: 100%;
    width: 100%;
    background-color: #F5F7FA;
}

.pagination{
  width: auto;
  display: inline-block;
}

panel panel-primary{
        color: #23b744;
        font-size: 1em
    }
    
    div div ul li a {
        color: #23b744;
        font-size: 2em
    }
    
/*.nav-pills1 > li {
  float: right;
}
.nav-pills1 > li > a {
  border-radius: 4px;
}
.nav-pills1 > li + li {
  margin-left: 2px;
}
.nav-pills1 > li.active > a,
.nav-pills1 > li.active > a:hover,
.nav-pills1 > li.active > a:focus {
  color: aliceblue;
  background-color: blue;
}
.nav-stacked1 > li {
  float: none;
}
.nav-stacked1 > li + li {
  margin-top: 2px;
  margin-left: 0;
}*/