<div ng-if="atividadeEmExecucao">
  <div class="jumbotron" style="padding-left: 48px">
    <h2>{{atividadeEmExecucao.tarefa.mi}} - {{atividadeEmExecucao.subfase.nome}}</h2>
    <br/>
    <p>Em execução</p>
    <br/>
    <textarea ng-model="atividadeEmExecucao.observacao"></textarea>
    <br/>
    <p><a class="btn btn-primary btn-large" ng-click="pausa(atividadeEmExecucao)">Pausar</a></p>
    <p><a class="btn btn-warning btn-large" ng-click="finaliza(atividadeEmExecucao)">Finalizar</a></p>
  </div>
</div>
<div ng-if="!(atividadeEmExecucao)">

  <div ng-if="atividadesIniciadas.length>0">
    <div class="jumbotron" style="padding-left: 48px" ng-repeat="item in atividadesIniciadas">
      <h2>{{item.tarefa.mi}} - {{item.subfase.nome}}</h2>
      <br/>
      <br/>
      <p>{{item.observacao}}</p>
      <br/>
      <p><a class="btn btn-primary btn-large" ng-click="inicia(item)">Continuar carta &raquo;</a></p>
    </div>
  </div>

  <div ng-if="!(atividadesIniciadas.length>0) && atividadePrioritaria1">
    <div class="jumbotron" style="padding-left: 48px">
      <h2>{{atividadePrioritaria1.tarefa.mi}} - {{atividadePrioritaria1.subfase.nome}}</h2>
      <br/>
      <p>Carta não iniciada</p>
      <br/>
      <p>{{atividadePrioritaria1.observacao}}</p>
      <br/>
      <p><a class="btn btn-primary btn-large" ng-click="inicia(atividadePrioritaria1)">Iniciar carta &raquo;</a></p>
    </div>
  </div>

  <div ng-if="atividadePrioritaria2">
    <p><a class="btn  btn-primary btn-large" ng-click="mostraSegundaAtiv = !mostraSegundaAtiv" ng-init="mostraSegundaAtiv = false">Habilita segunda atividade</a></p>

    <div class="jumbotron" style="padding-left: 48px" ng-if="mostraSegundaAtiv">
      <h2>{{atividadePrioritaria2.tarefa.mi}} - {{atividadePrioritaria2.subfase.nome}}</h2>
      <br/>
      <p>Segunda atividade, somente inicie com confirmação do Chefe de Seção ou Gerente de Fluxo.</p>
      <br/>
      <p>{{atividadePrioritaria2.observacao}}</p>
      <br/>
      <p><a class="btn btn-primary btn-large"  ng-click="inicia(atividadePrioritaria2)">Iniciar carta &raquo;</a></p>
    </div>
  </div>

<button type="button" class="btn btn-primary" ng-click="criaAtividadeEspecial()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Atividades
</button>

</div>
